@charset 'utf-8';

.font-nunito {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.bg-secondary01 {
  background-color: #F0F0F5;
}

.border01 {
  border: 2px solid #FFFFFF;
}

.pos-relative {
  position: relative;
}

.btn-signup {
  position: absolute;
  left: 90%;
  top: 3%;
}

.footer {
  border-top: 2px solid #FFFFFF;
}

@media screen and (max-width: 600px) {
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 795px) {
  .btn-signup {
    position: static;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 24px;
    padding-top: 12px;
    text-align: center;
  }
}