@charset 'utf-8';

.font-nunito {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.bg-secondary01 {
  background-color: #F0F0F5;
}

.border01 {
  border: 2px solid #FFFFFF;
}

.pos-relative {
  position: relative;
}

.form-signup {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 24px;
    padding-top: 12px;
    text-align: center;
  }

  .form-signup {
    width: 90%;
  }

  .btn-signup {
    margin-top: 20px;
    display: block;
    width: 100%;
  }
}

.nav-brand:hover {
  cursor: pointer;
  text-decoration: none;
}