<footer class="text-muted footer py-2 text-center">
  <small class="d-block">E-Recicle &copy; 2022, IFMA - Campus Barra do Corda</small>
  <small class="d-block">
    <a href="https://maps.app.goo.gl/JhYVqorQedDmapxq9" class="text-muted" target="__blank__">
      <i class="fa-solid fa-location-pin"></i>  
      BR-226, S/N - Vila Nenzim, Barra do Corda - MA, 65950-000
    </a>
  </small>
</footer>