<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head', { title: 'E-Recicle - Home' }); %>
</head>
<body class="container bg-secondary01 pos-relative py-2">
  <%- include('partials/index/main'); %>

  <%- include('partials/footer'); %>

  <%- include('partials/scripts.ejs');  %> 
</body>
</html>