<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('sections/head'); %>
</head>
<body class="container bg-secondary01 pos-relative py-2">
  <%- include('sections/main'); %>

  <%- include('sections/footer'); %>

  <%- include('sections/scripts.ejs');  %> 
</body>
</html>