<main class="row content">   
  <div class="col-md-6 border01 rounded px-2 py-4 mt-4 my-2">
    <div>
      <h1 class="text-center text-warning font-oduda mb-2">
        <i class="fa-solid fa-recycle"></i>
        E-Recicle
      </h1>
      <h2 class="text-success text-center">
        Seu aplicativo para auxiliar na coleta e reciclagem de óleo de cozinha
      </h2>
    </div>

    <form>      
      <!-- Email input -->
      <div class="form-outline mb-2">
        <input 
          type="email" 
          id="email" 
          class="form-control"
          placeholder="E-mail"
          autocomplete="off"
          autocapitalize="off"
        >
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input 
          type="password" 
          id="password" 
          class="form-control"
          placeholder="Senha"
          autocomplete="off"
        >
      </div>

      <!-- Register button -->
      <div class="text-center mb-2">          
        <button type="button" class="btn border border-warning btn-block text-dark align-middle">
          <img src="./imgs/google-icon.png">
          Entre com o Google
        </button>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-success btn-block mb-2 text-dark font-weight-bold">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>      
        Entrar
      </button>
      <a 
        role="button" 
        class="btn btn-primary btn-block mb-2 btn-signup-form font-weight-bold"
        href="./signup"
      >
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        Cadastre-se
      </a>

      <hr>

      <div class="mb-4">
        <div class="text-center px-4">
          <!-- Simple link -->
          <a href="#!">Esqueceu a Senha?</a>
        </div>
      </div>

      <hr>
    </form>
  </div>

  <div class="col-md-6 my-auto pl-4">
    <img
      src="./imgs/pessoas.png"
      alt="Imagem de Pessoas Reciclando"
      class="img-fluid"
    >
  </div>
</main>
